.main-app-container {
  margin: 4em 6em;
}

.submit-btn {
  display: flex;
  margin: 0 auto;
}
.data-header,
.data-row {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.data-header p,
.data-row p {
  border: 1px solid #aaa;
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .main-app-container {
    margin: 4em 2em;
  }
  .form-row {
    flex-direction: column;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
